@font-face {
	font-family: 'Lato';
	src: local('☺'), url('fonts/Lato-Light.ttf') format('truetype'), url('fonts/Lato-Medium.ttf') format('truetype'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Thin.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html {
        width : 100%;
        height : 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family : 'Lato';
  font-weight: regular;
	webkit-tap-highlight-color: #222222;
}

.topnav {
  font-size: 19px;
}

section {
  padding: 100px 0;
}

/* .section-heading {
	color:#f2f2f2;
	margin-top: 0;
} */

.lead {
    font-size: 20px;
}

.content-heading {
  padding-top: 50px;
}

.content-section-a {
    padding: 30px 0;
    background-color: #e3e3e3;
}

.content-section-b {
    padding: 30px 0;
    background-color: #F05F40;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

/* hr */
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e3e3e3;
}

/* Little paragraph snippet sections */
.section-heading {
    margin-bottom: 30px;
}

#canvas {
  width : 60%;
  height : 100px;
  position : relative;
}

#imaginary_container{
    margin-top:20%;
    padding-bottom: 30px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
